<ion-header class="ion-padding">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/gta.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/iniciosa.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>

      <ion-buttons>
        <ion-button routerLink="/gtasa" color="primary">
          <ion-icon [name]="'business-outline'" slot="start"  color="primary"></ion-icon>
          GTA San Andreas
        </ion-button>
      </ion-buttons>  
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-img src="/assets/inicio5.jpg"></ion-img>      
    </ion-card-header>
    <ion-card-content>
      <ion-buttons>
        <ion-button routerLink="/gta5" color="primary">
          <ion-icon [name]="'diamond-outline'" slot="start"  color="primary"></ion-icon>
          GTA Five
        </ion-button>
      </ion-buttons>
    </ion-card-content>  
  </ion-card>
    

</ion-content>
