<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/cejota.JPG"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Grand Theft Auto San Andreas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Salud infinita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: BAGUVIX
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Dinero infinito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: HESOYAM
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Pack de armas 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: KJKSZPJ
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Municion infinita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: WANRLTW
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Super musculos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: JYSDSOD
    </ion-card-content>
  </ion-card>
</ion-content>