<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/gta5.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Grand Theft Auto 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Invencibilidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: PAINKILLER
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Todas las armas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: TOOLUP
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Modo borracho</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: LIQUOR
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Bajar nivel de busqueda policial</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Truco: LAWYERUP
    </ion-card-content>
  </ion-card>
</ion-content>
